<!DOCTYPE html>
<html>
<head>
<title>个人中心-IT书</title>
<#include "/public/common.html">
</head>
<body class="site-menubar-fold site-menubar-keep">
	<#include "/public/left.html">
	<div class="page profile profile_index">
		<div class="page-content">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div class="nav-tabs-horizontal nav-tabs-inverse">
						<ul class="nav nav-tabs nav-tabs-solid profile_nav"
							id="nav-tabs-solidlist">
							<li class="active"><a href="javascript:void(0);"
								class="padding-horizontal-30"> <i
									class="iconfont icon-vip fz20 tp1"></i>评论过的文章
							</a></li>
							<li><a href="javascript:void(0);"
								class="padding-horizontal-30"> <i
									class="iconfont icon-xingxing fz20 tp1"></i>收藏课程
							</a></li>
							<li><a href="javascript:void(0);"
								class="padding-horizontal-30"> <i
									class="iconfont icon-like fz20 tp1"></i>喜欢课程
							</a></li>
							<li><a href="javascript:void(0);"
								class="padding-horizontal-30"> <i
									class="iconfont icon-comment fz20 tp1"></i>报名的
							</a></li>
						</ul>

						<div class="tab-content">
							<div class="row">
								<div class="col-md-12">
									<h1 style="display: none">
										总页数是:<span id="tcount">${count}</span>
									</h1>
									<table class="table table-hover">
										<thead>
											<tr>
												<th>序列</th>
												<th>作者</th>
												<th>标题</th>
												<th>评论</th>
												<th>状态</th>
											</tr>
										</thead>
										<tbody id="tbody">
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div>
							<input id="keyword" type="text" placeholder="请输入搜索的内容">
							<button id="search">搜索</button>
						</div>
						<div class="pagination"></div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<script src="${basePath}/js/page.js"></script> <script>
	<!--
		$(function() {
			var pageNo = 0;
			var pageSize = 5;

			//第一次加载评论
			loadComment();

			loadPage();
			
			dodelete();
			$("#nav-tabs-solidlist").find("li").on("click", function() {
				$(this).addClass("active").siblings().removeClass("active");
			});
			

			//加载评论的方法
			function loadComment() {
				var params = {
					"pageNo" : pageNo * pageSize,
					"pageSize" : pageSize
				};
				$.ajax({
					type : "post",
					url : "/admin/comment/template",
					data : params,
					success : function(data) {
						$("#tbody").html(data);
					}
				});
			};

			function loadPage() {
				var itemCount = $("#tcount").text();
				$(".pagination").mkPage(itemCount, {
					items_per_page : 5,
					num_display_entries : 5,
					num_edge_entries : 0,
					prev_text : "前一页",
					next_text : "后一页",
					showGo : true,
					showSelect : false,
					callback : function(pno, psize) {
						pageNo = pno;
						loadComment();
					},
				});
			}
			;

			function dodelete() {
				$("#tbody").on(
						"click",
						".checked",
						function() {
							var id = $(this).data("opid");
							var status = $(this).attr("name");
							var value = $("input[type='radio'][name='" + status+ "']:checked").val();
							var comment = {
								"id" : id,
								"status" : value
							};
							$.ajax({
								type : "post",
								url : basePath + "/admin/comment/update",
								data : comment,
								success : function(data) {
									if (data != "success") {
										loading("失败！", 2);
									} else {
										loading("修改成功!", 2);
									}
								}
							});
						});
			      };
		    });
	</script> 
</body>
</html>
