<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cms.mapper.reg.IRegMapper" >
	<insert id="insertReg"  parameterType="reg" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
	    INSERT INTO reg (
			username,
			account,
			PASSWORD,
			smscode,
			habbys,
			provinceId,
			intro
		)VALUES
			(#{username}, #{account}, #{PASSWORD}, #{smscode}, #{habbys},#{provinceId},#{intro})

	</insert>
</mapper>





