<link rel="stylesheet" type="text/css" href="${basePath}/resources/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="${basePath}/resources/css/mobile.css"/>
<link rel="stylesheet" media="all" href="${basePath}/resources/css/index.css">
<link rel="stylesheet" type="text/css" href="${basePath}/resources/css/m.css"/>
<link rel="stylesheet" type="text/css" href="${basePath}/resources/css/reg.css"/>
<link rel="stylesheet" type="text/css" href="${basePath}/resources/css/swiper.min.css"/>
<!-- js -->
<script>var basePath = "${basePath}"</script>
<script src="${basePath}/resources/js/jquery.min.js"></script>
<script src="${basePath}/resources/js/swiper.min.js"></script>
