<div class="container index">
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container" id="head">
			<div class="navbar-header">
				<a href="#" class="navbar-brand"> <strong
					style="color: #FF0036;">Logo</strong>
				</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a class=""
						href="">雯</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<a href="http://localhost:8080/login" rel="nofollow" class="ln-top-login">
						登录</a>
					<a href="http://localhost:8080/admin/accredit" rel="nofollow" class="ln-top-login">
						注册 </a>
					<div id="img" style="display: none">
						<img src=></img>
					</div>
				</ul>
			</div>
		</div>
	</div>
</div>
